/***************************
   UNIVERSAL
***************************/

body {
  margin: 0;
  padding: 0;
  }

a {
  text-decoration: none;
  }

ul li {
  list-style: none;
  }

.center {
  width: 100%;
  margin: 0 auto;
  }



/***************************
  MAIN
***************************/

body {
  
  }

header {
   
  }

header h1 {
  background: #252619;
  color: #df894c;
  text-align: center;
  font-family: 'Philosopher', sans serif;
  font-weight: 700;
  letter-spacing: 5px;
  margin: -40px 0;
  }

h1 span.firstName {
  letter-spacing: 8px;
  padding-right: 10px;
  }

h1 span.lastName {
  letter-spacing: 4px;
  padding-left: 14px;
  }

nav {
  width: 100%;
  display: inline-block;
  }

nav ul {
  text-align: center;
  padding: 0; 
  }

nav ul li {
  display: inline;
  padding: 0 10px;
  }

#about_photo {
  max-width: 100%;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 1px solid grey;
  padding: 2px;
  position: relative;
  top: 60px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.9);
  }

section {
  width: 100%;
  margin-top: 120px;
  font-family: sans-serif;
  font-weight: 400;
  }

section p {
  width: 80%;
  margin: 0 auto;
  }

nav ul li span {
  padding: 10px 10px;
  }

nav ul li span.about {
  color: #d03320;
  }

nav ul li span.blog {
  color: #fdd186;
  }

nav ul li span.portfolio {
  color: #68434a;
  }

nav ul li span.resume {
  color: #c4542e;
  }

footer {
  width: 100%;
  background: #df894c;
  font-family: sans-serif;
  font-size: 0.8em;
  color: 251629;
  }

footer p {
  text-align: center;
  }



/***************************
  MEDIA
***************************/

@media screen and (max-width: 480px) {
  header h1 {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 40px;
    border: 1px solid red;
    }
  h1 span.lastName {
    padding: 0 12px;
    position: absolute;
    top: 100px;
    left: 12px;
    letter-spacing: 4px;
    }
  h1 span.firstName {
    padding: 0 12px;
    position: absolute;
    top: 60px;
    left: 12px;
    letter-spacing: 8px;
  }
  #about_photo {
    position: absolute;
    top: 20px;
    left: 140px;
    }
  section {
    margin-top: 180px;
    }
