/***************************
   UNIVERSAL
***************************/

body {
  margin: 0;
  padding: 0;
  }

a {
  text-decoration: none;
  }

ul li {
  list-style: none;
  }

.center {
  width: 100%;
  margin: 0 auto;
  }

div.page-content {
  margin-top: 100px;
}


/***************************
  ABOUT
***************************/

header.post-header {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  }

header h1.post-title {
  width: 100%;
  top: 0;
  left: 0;
  height: 38px;
  position: absolute;
  padding: 12px 0;
  margin: 0;
  }

header h1.headerMain {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40px;
  }

header h1 {
  background: #252619;
  color: #df894c;
  text-align: center;
  font-family: 'Philosopher', sans serif;
  font-weight: 700;
  letter-spacing: 5px;
  margin: -40px 0;
  }

h1 span.firstName {
  letter-spacing: 8px;
  padding-right: 10px;
  position: relative;
  top: 15px;
  }

h1 span.lastName {
  letter-spacing: 4px;
  padding-left: 14px;
  position: relative;
  top: 15px;
  }

nav {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
  }

nav ul {
  text-align: center;
  padding: 0; 
  }

nav ul li {
  display: inline;
  padding: 0 10px;
  }

#about_photo {
  max-width: 100%;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 1px solid grey;
  padding: 2px;
  position: relative;
  top: 60px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.9);
  }

section {
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  }

section p {
  width: 80%;
  margin: 40px auto;
  }

nav ul li span {
  padding: 10px 10px;
  }

nav ul li span.about {
  color: #d03320;
  }

nav ul li span.blog {
  color: #fdd186;
  }

nav ul li span.portfolio {
  color: #68434a;
  }

nav ul li span.resume {
  color: #c4542e;
  }

footer {
  width: 100%;
  background: #df894c;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #251629;
  }

footer a {
  color: #251629;
}



/***************************
  BLOG
***************************/






/***************************
  POSTS
***************************/






/***************************
  MEDIA
***************************/

@media screen and (max-width: 480px) {

/***************************
  ABOUT
***************************/
  header.post-header {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    }

  header h1.post-title {
    width: 100%;
    top: 0;
    left: 0;
    height: 38px;
    position: absolute;
    padding: 12px;
    margin: 0;
    text-align: left;
    }

  header h1.headerMain {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 40px;
    }

  h1 span.lastName {
    padding: 0 12px;
    position: absolute;
    top: 94px;
    left: 12px;
    letter-spacing: 4px;
    }
  h1 span.firstName {
    padding: 0 12px;
    position: absolute;
    top: 56px;
    left: 12px;
    letter-spacing: 8px;
  }
  #about_photo {
    position: absolute;
    top: 20px;
    left: 140px;
    z-index: 1;
    }
  section {
    margin-top: 120px;
    }

/***************************
  BLOG
***************************/



/***************************
  POSTS
***************************/